@using MyApplication.Client.Models
@inject NavigationManager NavigationManager
@inject ISnackbar Snackbar

@{ if (Events.Count == 0)
    {
        <MudAlert Severity="Severity.Info">No related events found for the selected date and time.</MudAlert>
    }
    else
    {
        <MudText Typo="Typo.h4" GutterBottom="true">Showing @Events.Count @EventsDescription</MudText>
        <MudCarousel Class="mud-width-full" @ref="_carouselEvents" ItemsSource="@Events" 
            Style="height:500px;" ShowArrows="true" ShowBullets="true" EnableSwipeGesture="true" AutoCycle="false">
            <ItemTemplate>
                <MudGrid Spacing="3">
                    <MudItem Style="overflow:hidden; height:70px;" xs="12">
                        <MudText Align="Align.Center" Style="@($"color: {context.TitleColor};overflow:hidden")" Typo="Typo.h3">@context.Title</MudText>    
                    </MudItem>
                    <MudItem Style="overflow:hidden; height:70px;" xs="12">
                        <MudText Align="Align.Center" Typo="Typo.body1">@context.Description</MudText>
                    </MudItem>
                    <MudItem Style="overflow:hidden; height:230px;" xs="12">
                         @{
                        if (string.IsNullOrEmpty(context.ImageFilePath) == false)
                            {
                                <div class="d-flex justify-center">
                                    <MudImage ObjectFit="ObjectFit.Cover" Src="@context.ImageFilePath" Alt="Event Image" Width="400" Height="200" Elevation="25" Class="rounded-xl"/>
                                </div>
                            }
                            else
                            {
                                <div class="d-flex justify-center">                                        
                                    <MudText Typo="Typo.caption">No image available</MudText>
                                </div>
                            }
                        }
                    </MudItem>
                    <MudItem Style="overflow:hidden; height:35px;" xs="12">
                        <div class="d-flex justify-center">
                            <MudText Align="Align.Center" Typo="Typo.caption">@context.TimeStamp.ToString("dd-MM-yyyy HH:mm:ss")</MudText>
                        </div>
                    </MudItem>
                    <MudItem Style="overflow:hidden; height:60px;" xs="12">
                        <div class="d-flex justify-center">
                            <MudButtonGroup Color="Color.Primary" Variant="Variant.Filled">
                                <MudIconButton Icon="@Icons.Material.Filled.Edit" OnClick="() => EditMe(context)">Edit</MudIconButton>
                                <MudIconButton Icon="@Icons.Material.Filled.Delete" OnClick="() => DeleteMe(context)">Delete</MudIconButton>
                            </MudButtonGroup>
                        </div>
                    </MudItem>
                </MudGrid>
            </ItemTemplate>
        </MudCarousel>
    }
}

@code {

    [Parameter]
    public List<CalendarEvent> Events { get; set; } = new List<CalendarEvent>();

    [Parameter]
    public string EventsDescription { get; set; } = "Focussed Events";

    [Parameter]
    public int ShowItemNumber { get; set; } = 0;

    private MudCarousel<CalendarEvent> _carouselEvents = null!;

    protected override async Task OnParametersSetAsync()
    {
        if (_carouselEvents == null)
        {
            await Task.Delay(10); // Wait for the carousel to initialize
            Snackbar.Add("Carousel reference was null, waited for initialization.", Severity.Info);
        }

        await base.OnParametersSetAsync();
        if (_carouselEvents != null)
        {
            Snackbar.Add($"Moving to item {ShowItemNumber}", Severity.Info);
            _carouselEvents.MoveTo(ShowItemNumber);
        }
        else
        {
            Snackbar.Add($"Carousel reference is null, so not moving to item {ShowItemNumber}", Severity.Warning);
        }
    }

    private void EditMe(CalendarEvent item)
    {
        NavigationManager.NavigateTo($"/editcalendarevent/{item.Id}");
    }

    private async void DeleteMe(CalendarEvent item)
    {
        NavigationManager.NavigateTo($"/deletecalendarevent/{item.Id}");
    }
}
